.audio-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: solid 1px blue;
  margin-top: 50px;
  padding: 20px;
}

.audioControls {
  display: flex;
  margin-top: 50px;
  border: solid 1px #2bb948;
}

.playPauseBtn {
  padding: 10px 20px;
  background-color: #2bb948;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 50px;
  cursor: pointer;
}

.volumeRange {
  width: 100px;
}

.title-music {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #0e1958;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
